<div class="header_content">
    <div>
        <a href="/" class="header_title">LBP</a>
        <a href="/cities" class="header_text">cities</a>
    </div>

    <div>
        <a href="/login" class="header_text">login</a>
    </div>
</div>